{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>TestCorona | Log in</title>
  </head>
  <body>
    <section class="header">
      <div class="header__logo">
        <h2 class="header__title">
          <a href="/"> Medical Laboratory Report </a>
        </h2>
        <img class="header__logo__img" src="{% static 'img/logos.png' %}" alt="" />
      </div>
      <div class="hero__content">
        <p class="hero__title">Certificate Details :</p>
        <ul class="header__list">
          <li class="list__item">
            <span class="item__text">Name:</span> {{ person.name }}	 	 	    
          <li class="list__item">
            <span class="item__text">Birth date :</span> {{ person.birthday|date:"d-m-Y" }}
          </li>
          <li class="list__item">
            <span class="item__text">Mobile : </span> {{ person.mobile }}
          <li class="list__item">
            <span class="item__text">Nationality : </span> {{ person.nationality }}
          </li>
          <li class="list__item">
            <span class="item__text">Identification Type :</span> {{ person.identification_type }}
          </li>
          <li class="list__item">
            <span class="item__text">Identification ID:</span> {{ person.identification_id }}
          </li>
          <li class="list__item">
            <span class="item__text">Gender :</span>  {{ person.gender }}
          </li>
        </ul>
      </div>
      <div class="hero__content ">
        <ul class="header__list">
          <li class="list__item">
            <span class="item__text">Result Time</span>: {{ person.result_time|date:"d/m/Y H:i:s" }}
          </li>
          <li class="list__item"><span class="item__text">Result :</span> <span class="item__text__span">{{ person.result }}</span> </li>
          <li class="list__item"><span class="item__text">Time left</li>
      </div>
      <div class="hero__bottom">
        <p>EXPIRED</p>
      </div>

  <div id="clockdiv">
    <div class="clock__hero">
      <div>
        <span class="days"></span>
        <div class="smalltext1">d</div>
      </div>
      <div>
        <span class="hours"></span>
        <div class="smalltext2">h</div>
      </div>
      <div class="minut_3">
        <span class="minutes"></span>
        <div class="smalltext3">m</div>
      </div>
      <div class="minut_4">
        <span class="seconds"></span>
        <div class="smalltext4">s</div>
      </div>
    </div>
</div>


      <div class="footer__bottom">
        <div class="container">

          <h2  class="header__title">
            <a href="https://blazma.com/?lang=en" target="_blank">Powered by Blazma</a>
          </h2>
          <img class="footer__img" src="{% static 'img/blazma.png' %}" alt="">
        </div>
      </div>
    </section>


    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
